#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  #loader-wrapper #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00cf4f;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001; }
    #loader-wrapper #loader::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #e74c3c;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; }
    #loader-wrapper #loader::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #f9c922;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite; }
  #loader-wrapper div.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: linear-gradient(to right bottom, #2998ff, #2998ff);
    z-index: 1000; }
    #loader-wrapper div.loader-section.section-left {
      left: 0; }
    #loader-wrapper div.loader-section.section-right {
      right: 0; }

#loader-wrapper.loaded div.loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .3s .3s ease-out;
  transition: all .3s .3s ease-out; }

#loader-wrapper.loaded div.loader-section.section-right {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .3s .3s ease-out;
  transition: all .3s .3s ease-out; }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }

#loader-wrapper.loaded {
  visibility: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat"; }

body {
  height: 4000px; }

.btn {
  outline: none;
  position: relative;
  display: inline-block;
  border-radius: 10rem;
  font-size: 13px;
  text-transform: uppercase;
  transition: all .2s;
  text-decoration: none;
  background-color: #FFF;
  padding: 12px 24px;
  color: #2998ff;
  border: none;
  cursor: pointer; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #FFF; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@keyframes skills_active_spinner {
  to {
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

header {
  width: 100%;
  height: 95vh;
  color: #FFF;
  background-size: 100% 100%;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../img/hero.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  header nav {
    width: 100%;
    height: 100px;
    line-height: 60px;
    padding: 30px 0;
    transition: all .5s; }
    header nav div.navbar div#logo {
      float: left;
      text-align: left;
      display: inline; }
      header nav div.navbar div#logo img {
        float: left;
        height: 40px;
        border-radius: 50%;
        margin-top: 30px;
        margin-right: 20px;
        display: none; }
      header nav div.navbar div#logo h2 {
        margin: 0;
        display: inline-block;
        font-size: 2rem; }
    header nav div.navbar ul {
      float: right;
      display: inline-block;
      text-align: right; }
      header nav div.navbar ul li {
        display: inline;
        margin: 0 15px;
        font-weight: 500;
        position: relative; }
        header nav div.navbar ul li:last-child {
          margin-right: 0; }
        header nav div.navbar ul li a {
          text-decoration: none;
          color: #FFF;
          transition: border-bottom .2s;
          width: 100%; }
        header nav div.navbar ul li::after {
          position: absolute;
          top: 110%;
          left: -1%;
          width: 100%;
          height: 2px;
          background: #FFF;
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
          -moz-transition: opacity 0.3s, -moz-transform 0.3s;
          transition: opacity 0.3s, transform 0.3s;
          -webkit-transform: translateY(-10px);
          -moz-transform: translateY(-10px);
          transform: translateY(-10px); }
        header nav div.navbar ul li:hover::after, header nav div.navbar ul li:focus::after {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          transform: translateY(0px); }
    header nav.fixed {
      position: fixed;
      display: block;
      height: 60px;
      padding: 0;
      background: #FFF;
      z-index: 1000;
      top: 0;
      color: #3a3a3a;
      -webkit-box-shadow: 0px 1px 8px 0px rgba(82, 82, 82, 0.2);
      -moz-box-shadow: 0px 1px 8px 0px rgba(82, 82, 82, 0.2);
      box-shadow: 0px 1px 8px 0px rgba(82, 82, 82, 0.2);
      margin-bottom: 100px; }
      header nav.fixed div.navbar {
        height: 100%; }
        header nav.fixed div.navbar div#logo img {
          display: inline;
          margin-top: 10px; }
        header nav.fixed div.navbar ul {
          height: 100%;
          margin-bottom: 0;
          padding: 0; }
          header nav.fixed div.navbar ul li {
            padding: 14px 0;
            height: 100%; }
            header nav.fixed div.navbar ul li a {
              display: inline;
              height: 60px;
              color: #777777; }
              header nav.fixed div.navbar ul li a:hover {
                color: #3a3a3a; }
            header nav.fixed div.navbar ul li::after {
              background: #3a3a3a; }
  header div.container {
    padding: 0; }
  header div#header-aboutme {
    padding: 70px 0 70px;
    width: 100%;
    height: 700px; }
    header div#header-aboutme div#info {
      padding: 0; }
      header div#header-aboutme div#info div#social-info img {
        height: 100px;
        border-radius: 50%;
        display: inline-block; }
      header div#header-aboutme div#info div#social-info h2#myName {
        margin-bottom: 0; }
      header div#header-aboutme div#info div#social-info h2#doing {
        margin: 0; }
      header div#header-aboutme div#info div#social-info ul {
        margin: 30px 0;
        font-weight: 500;
        letter-spacing: .5px;
        font-family: "Ubuntu"; }
        header div#header-aboutme div#info div#social-info ul li {
          margin-bottom: 15px;
          list-style: none; }
          header div#header-aboutme div#info div#social-info ul li span {
            width: 80px;
            display: inline-block; }
          header div#header-aboutme div#info div#social-info ul li a {
            text-decoration: none;
            color: #FFF;
            opacity: .7; }
            header div#header-aboutme div#info div#social-info ul li a:hover {
              opacity: 1; }
          header div#header-aboutme div#info div#social-info ul li:last-child a {
            margin-right: 25px; }
    header div#header-aboutme a.btn {
      font-weight: 600;
      color: #2998ff; }
      header div#header-aboutme a.btn:hover {
        color: #5643fa; }
    header div#header-aboutme div#about-me {
      margin-top: 100px; }
      header div#header-aboutme div#about-me p {
        line-height: 25px;
        word-spacing: 1px;
        font-weight: 400; }

section#scheduel_section {
  padding: 70px; }
  section#scheduel_section h1 {
    margin-top: 0;
    padding-top: 0;
    display: block;
    text-align: center;
    margin-bottom: 70px;
    background: linear-gradient(to right, #2998ff 0%, #5643fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600; }
  section#scheduel_section ul {
    margin-top: 30px;
    display: inline-block; }
    section#scheduel_section ul li {
      font-size: 18px;
      font-weight: 500;
      list-style: none;
      margin-bottom: 10px; }
  section#scheduel_section #design-colum {
    float: left; }
  section#scheduel_section #scheduel_pic img {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 300px; }
  section#scheduel_section #coding-colum ul {
    float: right; }

section#random_section {
  padding: 160px;
  width: 100%;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(82, 82, 82, 0.2);
  -moz-box-shadow: 0px 1px 8px 0px rgba(82, 82, 82, 0.2);
  box-shadow: 0px 1px 8px 0px rgba(82, 82, 82, 0.2);
  color: #FFF;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../img/random.jpg);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  background-size: 100%;
  background-attachment: fixed; }
  section#random_section h1 {
    margin-top: 0;
    padding-top: 0;
    display: block;
    text-align: center;
    margin-bottom: 70px;
    color: #FFF;
    font-weight: 600; }
  section#random_section .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    section#random_section .flex-container div.boxs {
      padding: 20px;
      width: 22%;
      height: 300px;
      background: #FFF;
      opacity: .7;
      border-radius: 5px;
      z-index: -1;
      text-align: center;
      -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
      transition: all .2s; }
      section#random_section .flex-container div.boxs.box1:hover {
        transform: scale(1.1);
        margin-top: -15px;
        -webkit-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.55);
        opacity: 0; }
      section#random_section .flex-container div.boxs i {
        font-size: 50px;
        color: #2998ff; }
      section#random_section .flex-container div.boxs h2 {
        color: #3a3a3a;
        margin-top: 0;
        font-size: 20px; }
      section#random_section .flex-container div.boxs p {
        word-spacing: 1px;
        text-align: left;
        font-weight: 500;
        color: #3a3a3a; }

.servicemain .topser {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%; }

.servicemain .topser:before,
.servicemain .topser:after {
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  width: 100%; }

.servicemain .topser:before {
  background: url(https://websoftsystem.com/images/services_top.png) no-repeat center top;
  height: 310px;
  top: -110px;
  background-size: 100% auto; }

.servicemain .topser:after {
  background: url(https://websoftsystem.com/images/services_bottom.png) no-repeat center top;
  height: 156px;
  top: 180px;
  background-size: 100% auto;
  z-index: -1; }

.servicemain .serblk {
  float: left;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0; }

.servicemain .serblk.active a,
.servicemain .serblk:hover {
  background: none;
  border: none;
  border-radius: 0; }

.servicemain .sermain_2,
.servicemain .sermain_3,
.servicemain .sermain_4,
.servicemain .sermain_5 {
  margin-left: -65px; }

.servicemain .blockbg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.servicemain .nav-tabs {
  border: none; }

.servicemain .nav-tabs > li > a,
.servicemain .nav-tabs > li > a:hover,
.servicemain .nav-tabs > li > a:focus,
.servicemain .nav-tabs > li.active > a,
.servicemain .nav-tabs > li.active > a:hover,
.servicemain .nav-tabs > li.active > a:focus {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer; }

.servicemain .serblk a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.servicemain .blockbg svg.default {
  width: 100%;
  height: 100%;
  opacity: 0.97; }

.servicemain .blockbg svg.hover {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.5s; }

.servicemain .sermain_1 svg.default,
.servicemain .sermain_1 svg.hover {
  fill: #ff0033; }

.servicemain .sermain_2 svg.default,
.servicemain .sermain_2 svg.hover {
  fill: #7a1f7f; }

.servicemain .sermain_3 svg.default,
.servicemain .sermain_3 svg.hover {
  fill: #01b5e2; }

.servicemain .sermain_4 svg.default,
.servicemain .sermain_4 svg.hover {
  fill: #4b9335; }

.servicemain .sermain_5 svg.default,
.servicemain .sermain_5 svg.hover {
  fill: #ff6d01; }

.servicemain .serblk.active .blockbg svg.hover {
  opacity: 1;
  z-index: 1; }

.servicemain .serblk:hover .blockbg svg.hover {
  opacity: 1;
  z-index: 2; }

.servicemain .serblk.active a {
  z-index: 2; }

.servicemain .serblk:hover a {
  z-index: 3; }

.servicemain .serblk .caption {
  display: block;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.servicemain .serblk .icon {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.servicemain .serblk .icon img {
  width: 100%; }

.servicemain .serblk .caption h2 {
  color: #fff;
  display: block;
  font-family: 'open_sansregular';
  font-size: 14px;
  text-transform: uppercase; }

.servicemain .sermain_1 .icon,
.servicemain .sermain_2 .icon,
.servicemain .sermain_3 .icon,
.servicemain .sermain_5 .icon {
  width: 70px; }

.servicemain .sermain_4 .icon {
  width: 50px; }

.servicemain .cat_content h2 {
  font-size: 34px;
  color: #FF0036;
  padding: 0 0 10px 0; }

.servicemain .webdeve .cat_content h2 {
  color: #7e2683; }

.servicemain .ecommerce .cat_content h2 {
  color: #01b5e2; }

.servicemain .appdev .cat_content h2 {
  color: #4b9335; }

.servicemain .gamedev .cat_content h2 {
  color: #ff6d01; }

.servicemain .cat_content p {
  margin: 0 auto;
  padding: 20px 0 0 0;
  max-width: 920px; }

.servicemain .cat_content p strong {
  font-weight: normal; }

.servicemain .blockbg svg.active {
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.05, 1.05);
  transition: all ease-in-out 0.3s;
  opacity: 0; }

.servicemain .serblk.active .blockbg svg.active {
  opacity: 1;
  z-index: 1; }

.servicemain .blockbg .path_ser {
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: path_ser_active;
  animation-play-state: running;
  animation-timing-function: linear; }

@-webkit-keyframes path_ser_active {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@keyframes path_ser_active {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

.servicemain .tab-content {
  margin-top: 100px; }

.servicemain .tab-content > .tab-pane {
  position: relative; }

.servicemain .tab-content > .tab-pane .overlaytab {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.servicemain .tab-content > .tab-pane.active .overlaytab {
  background: #fff;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  animation-delay: 0.5s;
  animation-direction: normal;
  animation-duration: 0.7s;
  animation-name: overlaytab;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  z-index: 100;
  animation-fill-mode: forwards; }

@-webkit-keyframes overlaytab {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes overlaytab {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

.servicemain .tab-content ul {
  display: inline-block;
  vertical-align: top;
  width: 100%; }

.servicemain .tab-content ul li {
  display: block;
  float: left;
  text-align: center;
  margin: 30px 0 30px;
  width: 100%;
  position: relative; }

.servicemain .tab-content ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -200px;
  opacity: 0;
  height: 100px;
  width: 2px;
  background: #000;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: -1; }

.servicemain .tab-content ul li.active:after {
  bottom: -60px;
  opacity: 1; }

.servicemain .tab-content .webdesign ul li.active:after {
  background: #ff0036; }

.servicemain .tab-content .webdeve ul li.active:after {
  background: #7E2683; }

.servicemain .tab-content .ecommerce ul li.active:after {
  background: #01b5e2; }

.servicemain .tab-content .appdev ul li.active:after {
  background: #4b9335; }

.servicemain .tab-content .gamedev ul li.active:after {
  background: #ff6d01; }

.servicemain .tab-content ul li a {
  display: block;
  min-height: 170px;
  position: relative;
  text-align: center; }

.servicemain .tab-content ul li .detailbox {
  display: none; }

.servicemain .tab-content ul li .main_bg {
  width: 107px;
  height: 107px;
  margin: 0 auto 10px;
  position: relative; }

.servicemain .tab-content ul li .main_bg svg.default {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0; }

.servicemain .tab-content ul li .main_bg svg.default path {
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  fill: #ffffff;
  stroke: #e6e6e6; }

.servicemain .tab-content ul li .main_bg i {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  color: #E6E6E6;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s; }

.servicemain .tab-content ul li a h3 {
  color: #292929;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 0 0 5px 0;
  background: #fff; }

.servicemain .tab-content ul li .main_bg svg.hover {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  transform: scale(1.1, 1.1); }

.servicemain .tab-content ul li a .main_bg .fa,
.servicemain .tab-content ul li a .icon-magento {
  font-size: 50px; }

.servicemain .tab-content ul li.active a .main_bg i,
.servicemain .tab-content ul li a:hover .main_bg i {
  color: #fff; }

.servicemain .tab-content ul li.active a .main_bg svg.default path,
.servicemain .tab-content ul li a:hover .main_bg svg.default path {
  fill: #ff0036;
  stroke: #ff0036; }

.servicemain .tab-content ul li.active a .main_bg svg.hover,
.servicemain .tab-content ul li a:hover .main_bg svg.hover {
  opacity: 1; }

.servicemain .tab-content ul li.active a .main_bg svg.hover path,
.servicemain .tab-content ul li a:hover .main_bg svg.hover path {
  stroke: #ff0036; }

.servicemain .tab-content .webdeve ul li.active a .main_bg svg.default path,
.servicemain .tab-content .webdeve ul li a:hover .main_bg svg.default path {
  fill: #7E2683;
  stroke: #7E2683; }

.servicemain .tab-content .webdeve ul li.active a .main_bg svg.hover path,
.servicemain .tab-content .webdeve ul li a:hover .main_bg svg.hover path {
  stroke: #7E2683; }

.servicemain .tab-content .ecommerce ul li.active a .main_bg svg.default path,
.servicemain .tab-content .ecommerce ul li a:hover .main_bg svg.default path {
  fill: #01b5e2;
  stroke: #01b5e2; }

.servicemain .tab-content .ecommerce ul li.active a .main_bg svg.hover path,
.servicemain .tab-content .ecommerce ul li a:hover .main_bg svg.hover path {
  stroke: #01b5e2; }

.servicemain .tab-content .appdev ul li.active a .main_bg svg.default path,
.servicemain .tab-content .appdev ul li a:hover .main_bg svg.default path {
  fill: #4b9335;
  stroke: #4b9335; }

.servicemain .tab-content .appdev ul li.active a .main_bg svg.hover path,
.servicemain .tab-content .appdev ul li a:hover .main_bg svg.hover path {
  stroke: #4b9335; }

.servicemain .tab-content .gamedev ul li.active a .main_bg svg.default path,
.servicemain .tab-content .gamedev ul li a:hover .main_bg svg.default path {
  fill: #ff6d01;
  stroke: #ff6d01; }

.servicemain .tab-content .gamedev ul li.active a .main_bg svg.hover path,
.servicemain .tab-content .gamedev ul li a:hover .main_bg svg.hover path {
  stroke: #ff6d01; }

.servicemain .tab-content ul li .path_ser {
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: path_ser;
  animation-play-state: running;
  animation-timing-function: linear; }

@-webkit-keyframes path_ser {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@keyframes path_ser {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

.servicemain .tab-content .detailani {
  padding: 60px 15px 30px 40px;
  text-align: left;
  color: #666666;
  line-height: 24px;
  font-size: 14px; }

.servicemain .tab-content .detailani strong {
  font-weight: normal;
  font-family: "open_sansbold"; }

.servicemain .tab-content .detailani .readmore {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  text-align: right;
  padding-right: 100px; }

.servicemain .tab-content .detailani .readmore a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  padding: 0 12px; }

.servicemain .tab-content .ser_detailbox {
  position: relative;
  z-index: 1;
  margin-top: -33px; }

.servicemain .tab-content .webdesign .ser_detailbox {
  background: url(../images/red_line_1.svg) no-repeat center;
  background-size: 100% 100%; }

.servicemain .tab-content .webdeve .ser_detailbox {
  background: url(../images/par_line_1.svg) no-repeat center;
  background-size: 100% 100%; }

.servicemain .tab-content .ecommerce .ser_detailbox {
  background: url(../images/blue_line_1.svg) no-repeat center;
  background-size: 100% 100%; }

.servicemain .tab-content .appdev .ser_detailbox {
  background: url(../images/green_line_1.svg) no-repeat center;
  background-size: 100% 100%; }

.servicemain .tab-content .gamedev .ser_detailbox {
  background: url(../images/orange_line_1.svg) no-repeat center;
  background-size: 100% 100%; }

.servicemain .tab-content .webdesign .detailani .readmore a {
  background: #ff0036;
  border: solid 1px #ff0036; }

.servicemain .tab-content .webdeve .detailani .readmore a {
  background: #7E2683;
  border: solid 1px #7E2683; }

.servicemain .tab-content .ecommerce .detailani .readmore a {
  background: #01b5e2;
  border: solid 1px #01b5e2; }

.servicemain .tab-content .appdev .detailani .readmore a {
  background: #4b9335;
  border: solid 1px #4b9335; }

.servicemain .tab-content .gamedev .detailani .readmore a {
  background: #ff6d01;
  border: solid 1px #ff6d01; }

.servicemain .tab-content .detailani .readmore a:hover {
  background: #000;
  border-color: #000; }

.servicemain .tab-content .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 0; }

.servicemain .tab-content .owl-nav .fa {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  display: block;
  position: absolute;
  top: -45px;
  color: #333; }

.servicemain .tab-content .owl-nav .owl-prev {
  left: 0; }

.servicemain .tab-content .owl-nav .owl-next {
  right: 0; }

@-webkit-keyframes dash_downarrow {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@keyframes dash_downarrow {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@-webkit-keyframes down_arrow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes down_arrow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes path_ser_moreser {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@keyframes path_ser_moreser {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@-webkit-keyframes path_ser_port {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@keyframes path_ser_port {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@-webkit-keyframes path_ser_port_2 {
  0% {
    stroke-dashoffset: 120; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes path_ser_port_2 {
  0% {
    stroke-dashoffset: 120; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash_downarrow {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@keyframes dash_downarrow {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 120; } }

@-webkit-keyframes down_arrow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes down_arrow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.septore {
  width: 100%;
  display: none;
  min-height: 1px; }

.servicemain .tab-content .owl-nav .fa {
  width: 13px; }

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 400px 1000px, 200px 400px, 100px 300px; } }

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

@-webkit-keyframes santaGif {
  0% {
    left: 0;
    opacity: 0; }
  50% {
    left: 50%;
    opacity: 1; }
  100% {
    left: 100%;
    opacity: 0; } }

@keyframes santaGif {
  0% {
    left: 0;
    opacity: 0; }
  50% {
    left: 50%;
    opacity: 1; }
  100% {
    left: 100%;
    opacity: 0; } }

@-webkit-keyframes candy1 {
  0% {
    top: -250px;
    opacity: 0.5; }
  100% {
    top: 100%;
    opacity: 1; } }

@keyframes candy1 {
  0% {
    top: -250px;
    opacity: 0.5; }
  100% {
    top: 100%;
    opacity: 1; } }

/* Large desktop */
@media only screen and (min-width: 1200px) {
  .homeservices {
    margin-top: 190px; }
  h2.seo-top {
    margin-bottom: -35px; }
  .servicemain .topser {
    text-align: center;
    margin-left: 80px; } }

/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .homeservices {
    margin-top: 190px; }
  h2.seo-top {
    margin-bottom: -35px; }
  .servicemain .topser {
    text-align: center;
    margin-left: 80px; }
  /*li.serblk.sermain_4.site-evokingtab {display: none;}*/ }

/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .homeservices {
    margin-top: 160px;
    margin-left: 20px; }
  .site-evoking {
    display: none; } }

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
  .homeservices {
    margin-top: 100px; }
  .site-evoking {
    display: none; } }

/* Landscape phones and down */
@media only screen and (max-width: 480px) {
  .homeservices {
    margin-top: 90px; }
  .site-evoking {
    display: none; } }

@media (min-width: 1200px) {
  .footer_top .container {
    width: 1170px; } }

@media (max-width: 1199px) {
  body {
    overflow-x: hidden; } }

@media (min-width: 768px) and (max-width: 991px) {
  #com_nav ul li {
    margin: 0 8px; }
  .servicemain .serblk {
    width: 190px;
    height: 190px; }
  .servicemain .sermain_4 .icon {
    width: 40px; }
  .servicemain .sermain_1 .icon,
  .servicemain .sermain_2 .icon,
  .servicemain .sermain_3 .icon,
  .servicemain .sermain_5 .icon {
    width: 50px; }
  .servicemain .serblk .icon {
    margin-bottom: 0px; }
  .servicemain .serblk .caption h2 {
    padding: 0 17%;
    display: none; }
  .servicemain .sermain_2 .caption h2 {
    padding: 53px 17% 0; } }

@media (max-width: 767px) {
  .servicemain .serblk {
    float: none;
    display: inline-block;
    width: 98px;
    margin: 0 0.5%;
    height: 98px; }
  .servicemain .sermain_4 .icon {
    width: 40px; }
  .servicemain .sermain_1 .icon,
  .servicemain .sermain_2 .icon,
  .servicemain .sermain_3 .icon,
  .servicemain .sermain_5 .icon {
    width: 40px; }
  .servicemain .serblk .icon {
    margin-bottom: 0px; }
  .servicemain .serblk .caption h2 {
    padding: 0 17%;
    display: none; }
  .servicemain .sermain_2 .caption h2 {
    padding: 53px 17% 0; }
  .servicemain .topser {
    text-align: center; }
  .servicemain .topser ul {
    display: inline-block;
    width: 100%;
    text-align: center; }
  .services_body #header {
    opacity: 1;
    visibility: visible; }
  .services_body #com_header .com_head {
    opacity: 0; }
  #ser_nuts .ser_top {
    max-width: 100%;
    text-align: center;
    display: inline-block; }
  #ser_nuts .ser_top p {
    max-width: 100%;
    text-align: center;
    display: inline-block; }
  .services_body.navopen .pushmenu {
    z-index: 1111; }
  svg.mobileviewsvg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; }
  .servicemain .tab-content .webdesign .ser_detailbox,
  .servicemain .tab-content .webdeve .ser_detailbox,
  .servicemain .tab-content .ecommerce .ser_detailbox,
  .servicemain .tab-content .appdev .ser_detailbox,
  .servicemain .tab-content .gamedev .ser_detailbox {
    background: none;
    z-index: 5; }
  .servicemain .tab-content .detailani {
    position: relative;
    z-index: 10;
    padding: 50px 30px 60px; }
  svg.mobileviewsvg path {
    fill: #ffffff;
    stroke: #ff0036; }
  #webdevelopment svg.mobileviewsvg path {
    fill: #ffffff;
    stroke: #7e2683; }
  #ecommerce svg.mobileviewsvg path {
    fill: #ffffff;
    stroke: #01b5e2; }
  #appdevelopment svg.mobileviewsvg path {
    fill: #ffffff;
    stroke: #4b9335; }
  #gamedevelopment svg.mobileviewsvg path {
    fill: #ffffff;
    stroke: #ff6d01; }
  .servicemain .topser::before {
    top: -70px; }
  #ser_nuts .ser_top h6 {
    padding-bottom: 60px; }
  #ser_nuts {
    padding: 41px 0 0 0; }
  #com_header .com_nuts .c_nuts .c_text {
    padding: 0 0px 12px;
    letter-spacing: -0.5px;
    border-bottom-width: 4px;
    margin: 0 auto; }
  #com_header .com_nuts .c_nuts .c_text h4 {
    font-size: 22px; }
  #com_header .com_nuts .c_nuts .c_text h1 {
    font-size: 22px; }
  #com_header .com_nuts {
    height: 54px; }
  .servicemain .tab-content {
    margin-top: 60px; }
  .servicemain .cat_content h2 {
    font-size: 20px; }
  .servicemain .serblk {
    opacity: 1; }
  .servicemain .serblk svg.default {
    fill: #000;
    opacity: 0.8; } }

@media (min-width: 568px) and (max-width: 767px) {
  .servicemain .topser:after {
    top: 60px; } }

@media (min-width: 240px) and (max-width: 567px) {
  .servicemain .serblk {
    float: none;
    display: inline-block;
    width: 90px;
    margin: 0 0.5%;
    height: 90px; }
  .servicemain .sermain_4 .icon img,
  .servicemain .sermain_1 .icon img,
  .servicemain .sermain_2 .icon img,
  .servicemain .sermain_3 .icon img,
  .servicemain .sermain_5 .icon img {
    max-height: 48px; }
  .servicemain .topser ul li:nth-child(1),
  .servicemain .topser ul li:nth-child(2) {
    margin-bottom: -20px; }
  .septore {
    display: inline-block; } }

section#profiles {
  width: 100%;
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
  padding: 140px 70px;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%); }
  section#profiles h1 {
    margin-top: 0;
    padding-top: 0;
    display: block;
    text-align: center;
    margin-bottom: 70px;
    color: #FFF;
    font-weight: 600; }
  section#profiles div.all_boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    section#profiles div.all_boxes div.box {
      width: 48%;
      height: 160px;
      background: rgba(255, 255, 255, 0.7);
      padding: 20px 70px 20px 70px;
      display: block;
      -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
      margin-bottom: 50px;
      border-radius: 5px; }
      section#profiles div.all_boxes div.box:last-child {
        margin-bottom: 0; }
      section#profiles div.all_boxes div.box img {
        height: 80px;
        border-radius: 50%;
        display: inline-block;
        float: left;
        margin-top: 15px;
        margin-right: 25px; }
      section#profiles div.all_boxes div.box h2 {
        margin-top: 15px;
        color: #3a3a3a;
        display: inline-block;
        text-align: left;
        font-size: 20px; }

section#projects {
  width: 100%;
  padding: 70px; }
  section#projects div.container {
    padding: 0; }
    section#projects div.container h1 {
      margin-top: 0;
      padding-top: 0;
      display: block;
      text-align: center;
      margin-bottom: 70px;
      background: linear-gradient(to right, #2998ff 0%, #5643fa 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600; }
    section#projects div.container div.all_projects {
      width: 100%; }
      section#projects div.container div.all_projects ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%; }
        section#projects div.container div.all_projects ul li.project {
          width: 18%;
          position: relative;
          display: inline;
          float: left;
          line-height: 130px;
          height: 130px;
          margin-bottom: 35px;
          background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../img/random.jpg);
          background-size: cover;
          text-align: center; }
          section#projects div.container div.all_projects ul li.project:hover::after {
            display: block; }
          section#projects div.container div.all_projects ul li.project::after {
            display: none;
            content: "Show More";
            font-family: "Montserrat";
            color: #FFF;
            font-size: 18px;
            font-weight: 600;
            z-index: 2;
            width: 100%;
            height: 132px;
            background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
            position: absolute;
            left: 0;
            top: 0; }
          section#projects div.container div.all_projects ul li.project img {
            margin-top: -1px;
            width: 100%;
            height: 101%;
            padding: 0; }

section#conatct {
  padding: 70px 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  section#conatct div.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    section#conatct div.container div.contact_box {
      width: 100%;
      height: 550px;
      background: url(../img/contact.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat; }
      section#conatct div.container div.contact_box div.contact_form {
        padding: 50px;
        width: 60%;
        height: 100%;
        float: left;
        background: rgba(255, 255, 255, 0.85);
        -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); }
        section#conatct div.container div.contact_box div.contact_form h1 {
          margin-top: 0;
          padding-top: 0;
          display: block;
          text-align: center;
          margin-bottom: 70px;
          background: linear-gradient(to right, #2998ff 0%, #5643fa 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 600;
          margin-bottom: 50px;
          text-align: left; }
        section#conatct div.container div.contact_box div.contact_form form.form div.input_elments input,
        section#conatct div.container div.contact_box div.contact_form form.form div.input_elments textarea {
          font-size: 1.5rem;
          font-family: inherit;
          color: inherit;
          padding: 1.5rem 2rem;
          border-radius: 2px;
          background-color: rbga(#FFF, 0.5);
          border: none;
          border-bottom: 3px solid transparent;
          width: 80%;
          display: block;
          transition: all .3s;
          margin-bottom: 30px;
          outline: none; }
          section#conatct div.container div.contact_box div.contact_form form.form div.input_elments input:focus,
          section#conatct div.container div.contact_box div.contact_form form.form div.input_elments textarea:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 3px solid #ff7730; }
          section#conatct div.container div.contact_box div.contact_form form.form div.input_elments input:focus:invalid,
          section#conatct div.container div.contact_box div.contact_form form.form div.input_elments textarea:focus:invalid {
            border-bottom: 3px solid #ff7730; }
          section#conatct div.container div.contact_box div.contact_form form.form div.input_elments input::-webkit-input-placeholder,
          section#conatct div.container div.contact_box div.contact_form form.form div.input_elments textarea::-webkit-input-placeholder {
            color: #777777; }
        section#conatct div.container div.contact_box div.contact_form form.form div.form_button button.contact_btn {
          outline: none;
          background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
          color: #FFF;
          font-weight: 600; }
          section#conatct div.container div.contact_box div.contact_form form.form div.form_button button.contact_btn::after {
            background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }

footer {
  padding: 70px;
  background: #333;
  color: #FFF;
  position: relative; }
  footer div.to_top {
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2998ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    text-decoration: none;
    color: #2998ff;
    transition: top .2s; }
    footer div.to_top:hover {
      top: -40px; }
    footer div.to_top i {
      font-size: 20px;
      color: #2998ff; }
  footer h1 {
    margin-top: 0;
    padding-top: 0;
    display: block;
    text-align: center;
    margin-bottom: 70px;
    background: linear-gradient(to right, #2998ff 0%, #5643fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-align: center; }
  footer div.left {
    float: left;
    width: 43%; }
    footer div.left nav ul li {
      list-style: none;
      display: inline;
      float: left;
      margin-right: 10px;
      font-weight: 500;
      transition: all .2s;
      text-transform: uppercase;
      line-height: 28px; }
      footer div.left nav ul li:hover {
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
        transform: rotate(10deg);
        color: #2998ff; }
  footer div.right {
    width: 40%;
    float: right; }
    footer div.right span {
      font-weight: 500;
      line-height: 28px; }
