// Colors
$primary-color: #2998ff;
$secondary-color: #5643fa;
$white-color: #FFF;
$black-color: #000;

$dark-gray-color: #777;
$light-gray-color: #999;

$font-color-dark: #3a3a3a;
$font-color-light: #777777;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;