section#profiles_section {
    width: 100%;
    background: linear-gradient(to right bottom, rgba($primary-color, .8), rgba($secondary-color, .8));
    padding: 120px 70px;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    position: relative;
    display: block;
    h1 {
        @include header_blue_background;
    }
    .container {
        a.right,
        a.left {
            background: #FFF;
            padding: 10px 17px;
            border-radius: 50%;
            position: absolute;
            top: 60px;
            text-decoration: none;
            color: $primary-color;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                color: $secondary-color;
                @include box_shadow;
            }
        }
        a.left {
            left: 11%;
        }
        a.right {
            right: 11%;
        }

        ul.all_boxes {
            width: 100%;
            margin-left: 15%;
            li.box {
                // width: 100%;
                height: 170px;
                background: rgba($white-color, .7);
                padding: 20px;
                padding-right: 100px;
                -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
                clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
                border-radius: 5px;
                display: inline;
                float: left;
                transition: all .3s;
                div.left_box {
                    width: 30%;
                    height: 100%;
                    display: inline;
                    float: left;
                    position: relative;
                    img {
                        height: 80px;
                        border-radius: 50%;
                        display: inline-block;
                        float: left;
                        margin-left: 10px;
                        position: relative;
                        transition: all .2s;
                        @include absCenter;
                        @include box_shadow;
                    }
                }
                div.right_box {
                    width: 70%;
                    height: 100%;
                    display: inline;
                    float: left;
                    position: relative;
                    a {
                        &:hover {
                            h2 {
                                // color: $primary-color;
                                @include header_white_background;
                                margin-top: 15px;
                                margin-bottom: 10px;
                                font-weight: 500;
                            }
                        }
                    }
                    h2 {
                        margin-top: 15px;
                        color: $font-color-dark;
                        display: inline-block;
                        text-align: left;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    p {
                        // display: inline-block;
                        // float: left;
                    }
                }
                &:hover {
                    background: rgba($white-color, .85);
                }
            }
        }
        ul.slider_images {
            display: block;
            margin-left: 55%;
            transform: translateX(-50%);
            margin-top: 20px;
            li {
                width: 40px;
                height: 60px;
                border-radius: 50%;
                padding: 3px;
                list-style: none;
                display: inline;
                margin: 10px;
                img {
                    opacity: .8;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    background: #FFF;
                    transition: all .2s;
                    &:hover {
                        transform: scale(1.1);
                        opacity: 1;
                        @include box_shadow;
                    }
                }
            }
        }
    }
}

#profiles_section>* {
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
}