section#random_section {
    margin-top: 60px;
    padding: 120px 10%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($primary-color, 0.8)), to(rgba($secondary-color, 0.8))), url(../img/random.jpg);
    background-image: linear-gradient(to right bottom, rgba($primary-color, 0.8), rgba($secondary-color, 0.8)), url(../img/random.jpg);
    background-size: cover;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    position: relative;
    div.all_cards {
        height: 300px;
        position: relative;
        div.card {
            width: 23%;
            padding: 0 1%;
            display: inline-block;

          &.card_1 {
            position: absolute;
            top: 0;
            left: 0%;
          }
          &.card_2 {
            position: absolute;
            top: 0;
            left: 25%;
        }
        &.card_3 {
            position: absolute;
            top: 0;
            left: 50%; 
        }
        &.card_4 {
            position: absolute;
            top: 0;
            left: 75%;
        }

        }
    }
    h1 {
        margin-top: 0;
        padding-top: 0;
        display: block;
        text-align: center;
        margin-bottom: 70px;
        color: $white-color;
        font-weight: 600;
    }
    i {
        font-size: 50px;
        color: $primary-color;
    }
    h3 {
        color: $font-color-dark;
        margin-top: 15px;
        font-size: 20px;
    }
    p {
        word-spacing: 1px;
        text-align: left;
        font-weight: 500;
        color: $font-color-dark;
    }
}

#random_section>* {
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg)
}

.feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    min-height: 300px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem; // display: inline-block;
    background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent
}

.feature-box:hover {
    -webkit-transform: translateY(-1.5rem) scale(1.03);
    transform: translateY(-1.5rem) scale(1.03);
    z-index: 10;
    background-color: rgba(255, 255, 255, 1);
}