#random_section>* {
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
}

section#random_section {
    margin-top: 60px;
    padding: 100px 10%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($primary-color, 0.8)), to(rgba($secondary-color, 0.8))), url(../img/random.jpg);
    background-image: linear-gradient(to right bottom, rgba($primary-color, 0.8), rgba($secondary-color, 0.8)), url(../img/random.jpg);
    background-size: cover;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    position: relative;
    background-attachment: fixed;
    div.slider_wrap {
        margin-top: 0px;
        height: 300px;
        span {
            font-size: 27px;
            color: $primary-color;
            width: 34px;
            height: 34px;
            text-align: center;
            line-height: 27px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            background-color: #fff;
            z-index: 1000000;
            transition: all .3s cubic-bezier(0.25, 0, 0.25, 1);
            border: 1px solid $primary-color;
            cursor: pointer;
            &:hover {
                &#prev {
                    left: -22px;
                    color: $color-secondary-dark;
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
                }
                &#next {
                    right: -22px;
                    color: $color-secondary-dark;
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
                }
            }
            &#prev {
                position: absolute;
                left: -17px; // margin-top: -34px;
                top: 50%;
                transform: translateY(-50%);
            }
            &#next {
                position: absolute;
                right: -17px; // margin-top: -34px;
                top: 50%; // line-height: 100%;
                transform: translateY(-50%);
            }
        }
        div.all_cards {
            width: 50%;
            height: 300px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            div.card {
                // margin: 0 10px;
                height: 100%;
                .feature-box {
                    position: relative;
                    background-color: rgba(255, 255, 255, 0.8); // background-color: #CCC;
                    font-size: 1.5rem;
                    padding: 2.5rem;
                    text-align: center;
                    border-radius: 3px;
                    width: 100%;
                    min-height: 300px;
                    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
                    box-shadow: 0 0px 10px rgba(0, 0, 0, .3);
                    -webkit-transition: -webkit-transform .3s;
                    transition: -webkit-transform .3s;
                    transition: transform .3s;
                    transition: transform .3s, -webkit-transform .3s; // .feature-box__icon {
                    //     font-size: 6rem;
                    //     margin-bottom: .5rem; // display: inline-block;
                    //     background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
                    //     background: linear-gradient(to right, #7ed56f, #28b485);
                    //     -webkit-background-clip: text;
                    //     color: transparent
                    // }
                    &:hover {
                        z-index: 1000000;
                        -webkit-transform: translateY(1.5rem) scale(1.03);
                        transform: translateY(1.5rem) scale(1.03);
                        z-index: 100;
                        background-color: rgba(255, 255, 255, .9);
                    }
                    i {
                        font-size: 50px;
                        color: $primary-color;
                    }
                    h3 {
                        color: $font-color-dark;
                        margin-top: 15px;
                        font-size: 20px;
                    }
                    p {
                        word-spacing: 1px;
                        text-align: left;
                        font-weight: 500;
                        color: $font-color-dark;
                    }
                }
            }
        }
        div.pager {
            position: absolute; // left: 30%;
            float: center;
            width: 100%;
            text-align: center;
            font-weight: bolder;
            font-size: 2em;
            font-family: 'roboto'; // border-top: 2px solid #222;
        }
        a {
            display: none;
            opacity: 0;
            text-decoration: none;
            font-size: 18px;
            margin: 0 4px;
            transition: .4s opacity;
            &.selected,
            &:hover {
                color: #FFF;
            }
        }
    }
}