#random_section>* {
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
}

section#random_section {
    margin-top: 60px;
    padding: 120px 10%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($primary-color, 0.8)), to(rgba($secondary-color, 0.8))), url(../img/random.jpg);
    background-image: linear-gradient(to right bottom, rgba($primary-color, 0.8), rgba($secondary-color, 0.8)), url(../img/random.jpg);
    background-size: cover;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    position: relative;
    div.slider_wrap {
        div.all_cards {
            width: 50%;
            height: 300px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            div.card {
                margin: 0 10px;
                .feature-box {
                    background-color: rgba(255, 255, 255, 0.8);
                    font-size: 1.5rem;
                    padding: 2.5rem;
                    text-align: center;
                    border-radius: 3px;
                    width: 100%;
                    min-height: 300px;
                    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
                    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
                    -webkit-transition: -webkit-transform .3s;
                    transition: -webkit-transform .3s;
                    transition: transform .3s;
                    transition: transform .3s, -webkit-transform .3s; // .feature-box__icon {
                    //     font-size: 6rem;
                    //     margin-bottom: .5rem; // display: inline-block;
                    //     background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
                    //     background: linear-gradient(to right, #7ed56f, #28b485);
                    //     -webkit-background-clip: text;
                    //     color: transparent
                    // }
                    &:hover {
                        -webkit-transform: translateY(-1.5rem) scale(1.03);
                        transform: translateY(-1.5rem) scale(1.03);
                        z-index: 100;
                        background-color: rgba(255, 255, 255, 1);
                    }
                    i {
                        font-size: 50px;
                        color: $primary-color;
                    }
                    h3 {
                        color: $font-color-dark;
                        margin-top: 15px;
                        font-size: 20px;
                    }
                    p {
                        word-spacing: 1px;
                        text-align: left;
                        font-weight: 500;
                        color: $font-color-dark;
                    }
                }
            }
        }
        div.pager {
                position: absolute;
                // left: 30%;
                float: center;
                width: 100%;
                text-align: center;
                font-weight: bolder;
                font-size: 2em;
                font-family: 'roboto'; 
                // border-top: 2px solid #222;
              }

              a{
                  display: none;
                  opacity: 0;
                  text-decoration: none;
                  font-size: 18px;
                  margin: 0 4px;
                  transition: .4s opacity;
                  &.selected, &:hover {
                    color: #FFF;

                  }
              }
        }
    
}

