section#scheduel_section {
    width: 100%;
    padding: 70px 10%; 
    .contect {
        display: flex;
        flex: wrap;
        justify-content: space-between;
        justify-items: center;
        div#development-colum {
            float: right;
        }
    }
    ul {
        margin-top: 30px;
        width: 200px;
        display: inline-block;
        li {
            font-size: 18px;
            font-weight: 500;
            list-style: none;
            margin-bottom: 10px;
        }
    }
    #development-colum {
        margin-top: 10px;
        margin-right: -70px;
        ul {
            float: right;
            border-left: 3px solid $primary-color;
            padding-left: 10px;
            li:last-child {
                margin: 0;
                padding: 0;
            }
        }
    }
    #scheduel_pic {
        margin-left: -50px;
        img {
            margin-top: 0; // margin-left: 50%;
            // transform: translateX(-50%);
            height: 300px;
        }
    }
    #design-colum {
        width: 160px;
        margin-top: 10px;
        ul {
            float: left;
            border-left: 3px solid $secondary-color;
            padding-left: 10px;
            li:last-child {
                margin: 0;
                padding: 0;
            }
        } 
    }
}