* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    outline: none;

}

body {
background-color: $white-color;    
box-sizing: border-box;
width: 100%;
}

@media only screen and (max-width: 334px) {
 body{
     display: none;
 }
}