@media only screen and (max-width: 1200px) {
    section#profiles_section {
        width: 100%;
        .container {
            width: 100%;
            #carousel {
                span#left {
                    left: -1%;
                }
                span#right {
                    right: -1%;
                }
                ul.all_boxes {
                    li.box {
                        div.content {
                            width: 100%;
                            div.left_box {
                                img {
                                    height: 60px;
                                }
                            }
                            div.right_box {
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    section#profiles_section {
        padding: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    section#profiles_section {
        padding: 80px;
    }
}

@media only screen and (max-width: 800px) {
    section#profiles_section .container #carousel ul.all_boxes{
        margin-bottom: 0;
    }
    section#profiles_section .container #carousel ul.lSSlideOuter.lSpg {
        margin-top: 0px;
    }
    section#profiles_section {
        width: 100%;
        padding: 60px;
        .container {
            width: 100%;
            #carousel {
                border-bottom: 0;
                & .pager {
                    margin-top: -30px;
                }
                span#left {
                    margin-right: 3px;
                    top: 40%;
                    transform: translateY(-50%);
                }
                span#right {
                    margin-left: 3px;
                    top: 40%;
                    transform: translateY(-50%);
                }
                ul.all_boxes {
                    li.box {
                        div.content {
                            overflow: auto;
                            width: 100%;
                            height: 90%;
                            left: 0%;
                            transform: translateX(0%);
                            div.right_box {
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 688px) {
    section#profiles_section {
        width: 100%;
        padding: 50px 30px;
    }
}

@media only screen and (max-width: 550px) {
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:hover,
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li.active  {
        a {
            width: 30px;
            height: 30px;
            background-color: #FFF;
        }
        opacity: 1;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg {
        height: 35px;
     li {
        opacity: .5;
        margin: 0 3px;
        padding: 0 2px;
        margin-top: 6px;
        
    }}
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:nth-child(1) a {
        background-image: url("../../../img/profiles/treehouse.png");
        background-size: cover;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:nth-child(2) a {
        background-image: url("../../../img/profiles/udemy.jpg");
        background-size: cover;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:nth-child(3) a {
        background-image: url("../../../img/profiles/codecademy.png");
        background-size: cover;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:nth-child(4) a {
        background-image: url("../../../img/profiles/freecodecamp.png");
        background-size: cover;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:nth-child(5) a {
        background-image: url("../../../img/profiles/khanacademy.jpg");
        background-size: cover;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:nth-child(6) a {
        background-image: url("../../../img/profiles/github.png");
        background-size: cover;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li:nth-child(7) a {
        background-image: url("../../../img/profiles/heroku.png");
        background-size: cover;
    }
    section#profiles_section .container #carousel .lSSlideOuter .lSPager.lSpg li a {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: white;
    }
}