@media only screen and (max-width: 1200px) {
    section#profiles_section {
        width: 100%;
        .container {
            width: 100%;
            #carousel {
                span#left {
                    left: -1%;
                }
                span#right {
                    right: -1%;
                }
                ul.all_boxes {
                    li.box {
                        div.content {
                            width: 100%;
                            div.left_box {
                                img {
                                    height: 60px;
                                }
                            }
                            div.right_box {
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    section#profiles_section {
        padding: 100px ;
    }    
}

@media only screen and (max-width: 1000px) {
    section#profiles_section {
        padding: 80px ;
    }    
}

@media only screen and (max-width: 800px) {
    section#profiles_section .container #carousel ul.lSSlideOuter.lSpg{
        margin-top: -50px; }

    section#profiles_section {
        width: 100%;
        padding: 60px;
        .container {
            width: 100%;
            #carousel {
                border-bottom: 0;
                & .pager {
                    margin-top: -30px;
                }
                span#left {
                    margin-right: 3px;
                    top: 40%;
                    transform: translateY(-50%);
                }
                span#right {
                    margin-left: 3px;
                    top: 40%;
                    transform: translateY(-50%);
                }
                ul.all_boxes {
                    li.box {
                        
                        div.content {
                            overflow: auto;
                            width: 100%;
                            height: 90%;
                            left: 0%;
                            transform: translateX(0%);
                            div.right_box {
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 688px) {
    section#profiles_section {
        width: 100%;
        padding:50px 30px;
    }
}

