@media only screen and (max-width: 1095px) {
    section#projects_section div.container div.all_projects ul li {
        width: 31.3%;
        height: 135px;
}
}

@media only screen and (max-width: 750px) {
    section#projects_section div.container div.all_projects ul li {
        width: 48%;
        height: 135px;
}
}

@media only screen and (max-width: 560px) {
    section#projects_section div.container div.all_projects ul li {
        width: 98%;
        height: 135px;
}
}