
@media only screen and (max-width: 960px) {
    section#skills_section {
        .small_screen{
            display: inline;
            text-align: center;
        }
        .container {
            display: none;
        }

    }
}